<!DOCTYPE html>
<html>
    <head>
        
        <title></title>
        
    </head>
    <body>
        <h1>marsMissions</h1>
      
<%= <a href="./models/marsMissions" ></a> %>
                

      
        <nav>
            <%# <a href="/fruits/new">Create a New Fruit</a> %>
        </nav>
    </body>
</html>