<!DOCTYPE html>
<html>
    <head>
        
    <title>Index Route</title>
        
    </head>
    <body>
        <ul class="missions">
        <% for (let i = 0; i < marsMissions.length; i++) {  %>
            <li><a href="/missions/<%=i%>"><%=marsMissions[i].name%></a></li>
            <%  }   %>
        </ul>
    
     
    </body>
</html>