<!DOCTYPE html>
<html>
    <head>
        
    <title>Index Route</title>
        
    </head>
    <body>
        <ul>
        <% for (let i = 0; i < marsMissions.length; i++) {  %>
            <li><a href="mission/show<%=i%>"><%=marsMissions[i].name%></li>
            <%  }   %>
        </ul>
    
     
    </body>
</html>